.app-wrapper {
  display: flex;
 flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.main-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}



/* Stylisation de la barre de défilement */
.main-content::-webkit-scrollbar {
  width: 10px;
}

.main-content::-webkit-scrollbar-track {
  background: #ffffff;
}

.main-content::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5px;
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}